*.cache
*.cdsproj
*.CopyComplete
*.cs
*.dll
*.editorconfig
*.gif
*.html
*.jpg
*.log
*.md
*.mdx
*.proj
*.*proj
*.pdb
*.png
*.props
*.ps1
*.ruleset
*.sln
*.snap
*.snk
*.targets
*.tm7
*.txt
*.zip
.gitignore
.gitattributes
.npmrc
.prettierignore
.azure-devops/
bin/
dist
generated/
lib
node_modules/
out/
pnpm-lock.yaml
shrinkwrap.json
yarn.lock