body {
    padding: 10px;
    font-family: "Segoe WPC", "Segoe UI", sans-serif;
}

body {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-sideBar-background);
}

input, button {
    border: 1px solid var(--vscode-input-border);
    padding: 5px 10px;
}

button {
    margin-left: 10px;
}